In [1]:
import pandas as pd

In [7]:
hub_data = pd.read_csv('..\data\hubNashville__311__Service_Requests.csv')

In [3]:
hub_data.value_counts()

AttributeError: 'DataFrame' object has no attribute 'value_counts'

In [15]:
pd.melt(hub_data,id_vars= 'Request #',value_vars=['Date / Time Opened','Date / Time Closed']).sort_values('Request #',ascending=False)

        Request #            variable                   value
394877     366272  Date / Time Closed  05/13/2020 05:02:53 AM
46206      366272  Date / Time Opened  05/13/2020 05:02:53 AM
45829      366271  Date / Time Opened  05/13/2020 04:45:48 AM
394500     366271  Date / Time Closed  05/13/2020 04:45:48 AM
395149     366270  Date / Time Closed                     NaN
...           ...                 ...                     ...
695387        146  Date / Time Closed  07/18/2017 09:45:00 AM
694681        145  Date / Time Closed  07/18/2017 09:44:00 AM
346010        145  Date / Time Opened  07/17/2017 03:30:00 AM
693807        144  Date / Time Closed  07/18/2017 09:44:00 AM
345136        144  Date / Time Opened  07/17/2017 03:30:00 AM

[697342 rows x 3 columns]

In [5]:
time_melt['Request #'].value_counts()

2047      2
259284    2
210124    2
212173    2
206030    2
         ..
152351    2
240416    2
238369    2
244514    2
2049      2
Name: Request #, Length: 348671, dtype: int64

In [8]:
hub_data.head()

,Request #,Status,Request Type,Subrequest Type,Additional Subrequest Type,Date / Time Opened,Date / Time Closed,Request Origin,System of Origin ID,Contact Type,...,State Issue,Parent Request,Closed When Created,Address,City,Council District,ZIP,Latitude,Longitude,Mapped Location
0,353977,Closed,COVID-19,COVID-19 - Submit Input about The Plan to Reop...,COVID-19 - Submit Input about The Plan to Reop...,04/28/2020 02:33:22 PM,04/28/2020 02:33:22 PM,hubNashville Community,NaN,NaN,...,False,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,354524,Closed,Quick Requests,Quick Requests,NaN,04/28/2020 09:46:53 PM,04/28/2020 09:46:53 PM,Phone,NaN,NaN,...,False,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,354188,Closed,Quick Requests,Quick Requests,NaN,04/28/2020 05:09:02 PM,04/28/2020 05:09:02 PM,Phone,NaN,NaN,...,False,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,354445,Closed,Quick Requests,Quick Requests,NaN,04/28/2020 08:50:36 PM,04/28/2020 08:50:36 PM,Phone,NaN,NaN,...,False,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,334893,Closed,Public Safety,Control Number Request for Towing,NaN,03/29/2020 01:08:55 AM,03/29/2020 01:08:55 AM,hubNashville Community,NaN,NaN,...,False,NaN,True,Long Hollow Pike & Northcreek Blvd,GOODLETTSVILLE,10.0,37072,36.32619,-86.700618,"(36.32619, -86.70061799999999)"

In [21]:
type(hub_data.columns)

pandas.core.indexes.base.Index

In [26]:
pd.Series(hub_data.columns)

0                      Request #
1                         Status
2                   Request Type
3                Subrequest Type
4     Additional Subrequest Type
5             Date / Time Opened
6             Date / Time Closed
7                 Request Origin
8            System of Origin ID
9                   Contact Type
10            Preferred Language
11                   State Issue
12                Parent Request
13           Closed When Created
14                       Address
15                          City
16              Council District
17                           ZIP
18                      Latitude
19                     Longitude
20               Mapped Location
dtype: object

0                      Request #
1                         Status
2                   Request Type
3                Subrequest Type
4     Additional Subrequest Type
5             Date / Time Opened
6             Date / Time Closed
7                 Request Origin
8            System of Origin ID
9                   Contact Type
10            Preferred Language
11                   State Issue
12                Parent Request
13           Closed When Created
14                       Address
15                          City
16              Council District
17                           ZIP
18                      Latitude
19                     Longitude
20               Mapped Location
dtype: object

In [27]:
%who

hub_data	 pd	 series1	 time_melt